
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user %>様からオススメの本が届きました。</h1>
    <p>タイトル: <%= @title %>.<br></p>
  </body>
</html>